# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Scala CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'sbt'

    - name: Setup sbt
      uses: sbt/setup-sbt@v1

    - name: Git checkout (merge)
      uses: actions/checkout@v3
      if: github.event_name != 'pull_request'
      with: 
        fetch-depth: 0

    - name: Git checkout (PR)
      uses: actions/checkout@v3
      if: github.event_name == 'pull_request'
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Install GUI dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y xvfb libgtk-3-0 libgbm1 libasound2t64

    - name: Run tests and generate coverage report
      run: xvfb-run --auto-servernum sbt clean coverage test coverageReport

    - name: Upload coverage data to Coveralls
      uses: coverallsapp/github-action@v2
      with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
